
<div class="container">
<div class="row">
<div class=col-sm>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="card col md-6 " *ngFor="let quote of quotes">

    <div class="card-body">
    <span>Author:<h1 class="card-title text-uppercase text-secondary">{{quote.author}}</h1>
    </span>
    <span>Quote:
    <p class="card-subtitle mb-2 text-muted">{{quote.quotename}}</p>
    </span>
    <span>Submitted by:<p>{{quote.user}}</p>
    </span>
  </div>
</div>
</div>
</div>
</div>
<div class='col-sm'>
<app-form (addquote)="addNewQuote($event)"></app-form>
</div>
</div>
</div>

