
<div class="container">
<div class="row">
<div class=col-sm>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="card col md-6 " *ngFor="let quote of quotes">

    <div class="card-body">
    <span>Quote:<h1 class="card-title text-uppercase text-secondary">{{quote.quotename}}</h1>
    </span>
    <button  (click)='toggleDetails(i)' class="btn btn-success">Show Details</button>
    <app-quote-detail *ngIf="quote.showDescription" [quote]="quote" (deleteQuote)="delete($event, i)"></app-quote-detail>
    <div class="container" id="buttons">
      <span class="btn btn-sm btn-success" (click)="upVote(i)">{{quote.upvote}} <i class="fa fa-thumbs-up" id="like"></i></span>
      <span class="btn btn-sm " id="hate" (click)="downVote(i)" >{{quote.downvote}} <i class="fa fa-thumbs-down" id="dislike"></i></span>
    
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class='col-sm'>
<app-form (addquote)="addNewQuote($event)"></app-form>
</div>
</div>
</div>

